@import './variaveis.scss';
 
.containerCausas{
 
  background-color: $cor-fundo;
}
 
.textocausas{
    width: 90vh;
    font-size: 4vh;
}
.titulocausas{
    font-size: 13vh;
    text-align: center;
}
.section {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    justify-content: space-around;
  }
 
  .section.reversed {
    flex-direction: row-reverse;
  }
 
  @media (max-width: 480px) {
    .section {
      flex-direction: column;
    }
    .textocausas{
        font-size: 2vh;
        width: 50vh;
    }
  }